@include cssPrefix('app-container') {
  display: block;
  width: 100%;
  position: relative;

  &:after {
    display: block;
    content: '';
    clear: both;
  }
}

@include cssPrefix('duration-viz') {
  display: block;
  width: 100%;

  &__headline {
    font-family: $font-neuzeit;
    margin-bottom: 15px;
  }
}
