@mixin cssPrefix($name) {
  .#{$cssNamespace}-#{$name} {
    @content
  }
}


@mixin bp-xs() {
  @media (min-width: $screen-sm * 0.6) {
    @content
  }
}

@mixin bp-sm() {
  @media (min-width: $screen-sm) {
    @content
  }
}

@mixin bp-md() {
  @media (min-width: $screen-md) {
    @content
  }
}

@mixin bp-lg() {
  @media (min-width: $screen-lg) {
    @content
  }
}

@mixin transition($transition...) {
  -moz-transition:    $transition;
  -o-transition:      $transition;
  -webkit-transition: $transition;
  transition:         $transition;
}

@mixin hide-bigger() {
  @include bp-sm {
    display: none;
  }
}

@mixin hide-small($display: block) {
  display: none;

  @include bp-sm() {
    display: $display;
  }
}
