@include cssPrefix('searchbox') {
  display: block;
  width: 100%;

  &__input-wrapper {
    position: relative;
  }

  &__input {
    display: block;
    height: 35px;
    width: 100%;
    padding: 3px;
    font-size: 15px;
  }

  &__result-list {
    position: absolute;
    top: 34px;
    display: block;
    width: 100%;
    background-color: $white-transp;
    box-shadow: $box-shadow;
    margin: 0;
    margin-top: 10px;
    padding: 0;
    z-index: 100;

    &__item {
      font-size: 18px;
      cursor: pointer;
      padding: 8px;
      list-style: none;
      @include transition(background-color, $transition-duration);

      span {
        font-size: 14px;
        display: block;
        font-weight: bold;
      }

      &:hover {
        @include transition(background-color, $transition-duration);
        background-color: $gray-light;
      }
    }
  }

}
