@include cssPrefix('grouped-bars-horizontal') {

  display: block;
  width: 100%;
  position: relative;

  &__group {
    display: block;
    width: 100%;
    position: relative;
    padding-bottom: 20px;

    &__label {
      display: block;

      @include bp-xs {
        width: 20%;
        float: left;
      }

      span {
        display: block;
        font-size: 16px;
        line-height: 16px;
        font-family: $font-neuzeit;
        font-weight: bold;

        @include bp-xs {
          text-align: right;
          padding-right: 10px;
        }
      }
    }
  }

  &__bars-container {
    display: block;
    width: 100%;
    position: relative;

    @include bp-xs {
      float: left;
      width: 80%;
    }
  }

  &__bar {
    display: block;
    height: 20px;
    margin-bottom: 4px;
    background-color: $gray;
    position: relative;

    &--f {
      background-color: $female-color;
    }

    &--m {
      background-color: $male-color;
    }

    &__label {
      position: absolute;
      right: -40px;
      display: block;
      font-size: 12px;
      line-height: 20px;
    }

    &__legend {
      position: absolute;
      left: 5px;
      color: $white;
      font-size: 12px;
      line-height: 20px;
    }
  }

  .-clear- {
    display: block;
    clear: both;
  }
}
